main {
  min-width: 100%;
  background: linear-gradient(
    to bottom,
    var(--gray-700) 1.6875rem,
    var(--gray-600) 1.6875rem 100%
  );
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-inline: 1rem;
  max-width: 47rem;
}

form {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

input {
  flex-grow: 1;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--gray-700);
  background: var(--gray-500);
  font-size: 1rem;
  line-height: 140%;
}

.noText {
  margin-left: 0.2rem;
  color: var(--danger);
}

.addTaskButton {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background: var(--blue-dark);
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 130%;
  border: none;
  transition: all 0.1s ease-in-out;
}

@media (hover: hover) and (pointer: fine) {
  .addTaskButton:hover {
    transition: all 0.1s ease-in-out;
    background: var(--blue);
  }
}

/* to ensure cross browser compatibility */
::-webkit-input-placeholder {
  color: var(--gray-300);
}

:-moz-placeholder {
  color: var(--gray-300);
}

::-moz-placeholder {
  color: var(--gray-300);
}

:-ms-input-placeholder {
  color: var(--gray-300);
}

::input-placeholder {
  color: var(--gray-300);
}

::placeholder {
  color: var(--gray-300);
}

::-webkit-scrollbar {
  max-width: 0.6rem;
}

::-webkit-scrollbar-track {
  -webkit-border-radius: 10rem;
  border-radius: 10rem;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10rem;
  border-radius: 10rem;
  background-color: var(--gray-300);
}

.header {
  margin-inline: auto;
  margin-top: 4rem;
  margin-bottom: 1.5625rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-width: 100%;
}

.indicator {
  display: flex;
  gap: 0.5rem;
}

.indicator p {
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  color: var(--blue);
  white-space: nowrap;
}

.indicator p span {
  color: var(--purple);
}

.tasksEmpty {
  border-top: 1px solid var(--gray-400);
  border-radius: 0.5rem;
}

.tasksContainer {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  max-height: calc(100vh - 28rem);
  overflow-y: auto;
}

.noTasks {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 4rem 2rem;
}

.noTasks img {
  max-width: 3.5rem;
}

.noTasks p {
  color: var(--gray-300);
  font-size: 1rem;
  line-height: 140%;
  text-align: center;
}

.noTasks p span {
  font-weight: 700;
}
